body{
    margin: 0 !important;
    padding: 0 !important;

}
section
{
    margin: 0 !important;
    padding: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
p{
margin: 5rem auto;
padding: 50px !important;
line-height: 2;
font-size: 20px;
}
.section-heading{
    background-color: grey;
}
.bg-body-tertiary{
    max-width: 80vw;
    margin: 0 auto;
}
.heading-background{
    
    /* padding: 2rem auto; */
    height: 150px;
    width: 100%;
    margin-bottom: 5rem;
    padding: 2rem auto;
}
.heading-background> h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 5rem !important;
     background-color: grey;    
}

img{
    width: fit-content;
    min-width: 80vw;
    max-width: 80vw;
    object-fit: cover;
}
.backgroundimage{
    background-image: url('/assets/images/background.jpeg');
    background-repeat: no-repeat;
}